<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>computer-database</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/Root</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
  	
  	<servlet>
  		<servlet-name>DashboardServlet</servlet-name>
  		<servlet-class>com.excilys.formation.webproject.servlet.DashboardServlet</servlet-class>
  	</servlet>
 	
  	<servlet-mapping>
  		<servlet-name>DashboardServlet</servlet-name>
  		<url-pattern>/dashboard</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
  		<servlet-name>SearchServlet</servlet-name>
  		<servlet-class>com.excilys.formation.webproject.servlet.SearchServlet</servlet-class>
  	</servlet>
 	
  	<servlet-mapping>
  		<servlet-name>SearchServlet</servlet-name>
  		<url-pattern>/searchComputer</url-pattern>
  	</servlet-mapping>
 	
 	<servlet>
  		<servlet-name>AddServlet</servlet-name>
  		<servlet-class>com.excilys.formation.webproject.servlet.AddServlet</servlet-class>
  	</servlet>
 	
  	<servlet-mapping>
  		<servlet-name>AddServlet</servlet-name>
  		<url-pattern>/addComputer</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
  		<servlet-name>EditServlet</servlet-name>
  		<servlet-class>com.excilys.formation.webproject.servlet.EditServlet</servlet-class>
  	</servlet>
 	
  	<servlet-mapping>
  		<servlet-name>EditServlet</servlet-name>
  		<url-pattern>/editComputer</url-pattern>
  	</servlet-mapping>
 	
 	<servlet>
  		<servlet-name>RemoveServlet</servlet-name>
  		<servlet-class>com.excilys.formation.webproject.servlet.RemoveServlet</servlet-class>
  	</servlet>
 	
  	<servlet-mapping>
  		<servlet-name>RemoveServlet</servlet-name>
  		<url-pattern>/removeComputer</url-pattern>
  	</servlet-mapping>
 	
</web-app>
